/* RESET ///////////////////////////////////////// */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: inherit;
	text-decoration: none;
  display: block;
}
a:focus {
  outline: none;
}

/* TOOLS //////////////////////////////////////////////////////////// */
* {
  box-sizing: border-box;
}

/* Fixes a Chrome rendering bug. */
.vp:target {
  outline: 1px solid transparent;
}

/* .vp:target .ur, .ch2:target .ur {
  outline: 1px solid transparent;
} */

:root {
  height: 100%;
  -ms-overflow-style: none;
  overflow: hidden;
  overflow: -moz-scrollbars-none; 
}

/* Chrome and Safari */
::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  /* Prevent address bar from disappearing on mobile. */
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

#fixed-layer {
  display: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gutter1, #gutter2 {
  position: absolute;
  width: var(--gw);
  height: var(--gh);
  z-index: 1;
}

#gutter1 {
  left: 0;
  top: 0;
}

#gutter2 {
  right: 0;
  bottom: 0;
}

/* Main Scrolling Container */
#msc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* Viewport Div */
.vp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* scroll-snap-align: start; */
  /* This allows us to use rows properly as otherwise
  these divs will shrink down. */
  flex: none;
}

.ur {
  position: relative;
  width: var(--w);
  height: var(--h);
}

.abs {
  position: absolute;
}

i {
  font-style: italic;
  padding-right: 0.5ch;
}

strong {
  font-weight: bold;
}

.desktop {
  display: none;
}


.row {
  width: 100%;
  height: 100%;
  /* scroll-snap-align: start; */
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.ch2 {
  width: 200%;
  height: 100%;
  scroll-snap-type: x mandatory;
  display: flex;
  flex: none;
}

.chi2 {
  width: 50%;
  height: 100%;
  /* scroll-snap-align: start; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ch3 {
  width: 300%;
  height: 100%;
  scroll-snap-type: x mandatory;
  display: flex;
  flex: none;
}

.chi3 {
  width: 33.3333%;
  height: 100%;
  /* scroll-snap-align: start; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv2 {
  width: 100%;
  height: 200%;
  scroll-snap-type: y mandatory;
}

.cvi2 {
  width: 100%;
  height: 50%;
  /* scroll-snap-align: start; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv3 {
  width: 100%;
  height: 300%;
  scroll-snap-type: y mandatory;
}

.cvi3 {
  width: 100%;
  height: 33.3333%;
  /* scroll-snap-align: start; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BACKGROUND IMAGE RESIZING */
/* Mobile first, followed by... */
/* Tablet to HD Desktop */
@media only screen and (min-width:601px) and (max-width: 1920px) {

  @media only screen and (orientation: landscape) {

  }
}
/* 4K */
@media only screen and (min-width: 1921px) {

}

/* DESKTOP ////////////////////////////////////////////// */
@media only screen and (orientation: landscape) {
  .cv2, .cv3 {
    height: 100%;
    position: relative;
  }

  .cvi2, .cvi3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
  }

  .ch2, .ch3 {
    width: 100%;
    position: relative;
  }

  .chi2, .chi3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
  }

  .cvi2 a, .cvi3 a, .chi2 a, .chi3 a {
    pointer-events: initial;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }
}

/* FONTS //////////////////////////////////////// */
@font-face {
  font-family: 'Coolvetica-Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Coolvetica-Regular'), url('./assets/fonts/coolvetica.woff') format('woff');
}

/* GENERAL //////////////////////////////////////// */
:root {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(255, 234, 204); 
}

/* FIXED-LAYER //////////////////////////////////// */
#fixed-layer {
  background-image: linear-gradient(
    hsl(120, 30%, 70%),
    hsl(45, 80%, 50%),
    hsl(50, 100%, 80%)
  );
}

#gutter1, #gutter2 {
  background-color: black;
}

/* LINKS ////////////////////////////////////////////// */
a:hover, a:focus {
  color:hsl(150, 100%, 50%);
}

/* PAGE-LINKS ////////////////////////////////////////////// */
.page-link {
  text-align: center;
  font-size: calc(var(--w)/20);
}

.page-link-row {
  display: flex;
  justify-content: space-between;
}

/* HEADER ///////////////////////////////////// */

/* SITE HEADER ------------------------------------------ */
#site-header-container {
  display: flex;
  flex-wrap: wrap;
}

#gutter1-copy {
  width: var(--gw);
  height: var(--gh);
}

#site-header {
  position: relative;
  height: calc(var(--w)/3);
  width: var(--w);
  border-bottom: calc(var(--w)/100) solid rgb(255, 234, 204);
  /* scroll-snap-align: start; */
  background-image: linear-gradient(
    hsl(120, 30%, 70%),
    hsl(45, 80%, 50%),
    hsl(120, 30%, 70%)
  );
  display:flex;
  justify-content: center;
}

h1 {
  text-align: center;
  width: 100%;
  top: 40%;
  font-size: calc(var(--w)/13);
  font-family: "Coolvetica-Regular", sans-serif;
}

#site-header nav {
  height: 35%;
  width: 100%;
  top: 65%;
  font-size: calc(var(--w)/25);
}

#site-header ul {
  height: 100%;
  display: flex;
}

#site-header li {
  width: 25%;
}

#site-header a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 1.5s ease-out;
}

#site-header a:hover, #site-header a:focus {
  transform: scale(150%);
}

/* CHAPTER HEADER -------------------------------------------- */
#push-down {
  height: 30%;
}

h2 {
  padding: 5%;
  font-size: calc(var(--w)/6);
  text-align: center;
}

/* ARTISTS //////////////////////////////////////////////////// */
.artist-profile .ur {
  background-image: linear-gradient(
    transparent,
    black 5%,
    black 95%,
    transparent
  );
}

.artist-header {
  width: 100%;
  top: 10%;
  height: 25%;
}

.profile-pic {
  object-fit: contain;
  width: 50%;
  height: 100%;
}

h3 {
  top: 22%;
  left: 48%;
  width: 50%;
  text-align: center;
  font-size: calc(var(--w)/10);
  font-weight: bold;
}

.skill-set {
  left: 48%;
  width: 50%;
  font-size: calc(var(--w)/15);
  text-align: center;
  top: 55%;
}

.artist-bio {
  border-top: calc(var(--w)/200) solid rgb(255, 234, 204);
  border-bottom: calc(var(--w)/200) solid rgb(255, 234, 204);
  width: 100%;
  top: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: calc(var(--w)/23);
  padding: 0% 5%;
  line-height: 1.5;
}

.inline-artist-link {
  display: inline;
  text-decoration: underline;
}

.social-media-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 7%;
  width: 100%;
  height: 86%;
}

.social-media-sub-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-media-profiles {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.social-media-sub-section img {
  width: 15%;
}

.social-media-sub-section a {
  font-size: calc(var(--w)/20);
}

.social-media-section p {
  font-size: calc(var(--w)/30);
  text-align: center;
}

.social-media-section p a {
  display: inline;
  text-decoration: underline;
}

/* RON DALLOWAY --------------------------------------------- */
#rondalloway header {
  height: 40%;
}
#rondalloway .profile-pic {
  width: 70%;
  height: 80%;
  left: 15%;
  top: -8%;
}

#rondalloway h3 {
  width: 100%;
  left: 0%;
  top: 65%;
}

#rondalloway .skill-set {
  left: 0%;
  width: 100%;
  top: 85%;
}

#rondalloway .artist-bio {
  height: 40%;
  top: 50%;
}

/* KAMILAH HAYWOOD ----------------------------------------------- */
#kamilahhaywood h3 {
  top: 10%;
}

#kamilahhaywood .skill-set {
  top: 70%;
}

#kamilahhaywood-page2 .artist-bio, #susanameza-page2 .artist-bio {
  top: 6%;
  height: 88%;
}

#kamilahhaywood-page3 .social-media-sub-section {
  height: 25%;
}

/* SUSANA MEZA ------------------------------------------------- */
#susanameza h3 {
  top: 5%;
}

#susanameza .skill-set {
  top: 60%;
  width: 40%;
  left: 55%
}

/* CHAD POTVIN ------------------------------------------------ */
#chadpotvin header {
  top: 6%;
  height: 23%;
}
#chadpotvin h3 {
  width: 100%;
  left: 0%;
  top: 20%;
}

#chadpotvin .skill-set {
  left: 0%;
  width: 100%;
  top: 60%;
}

#chadpotvin .artist-bio {
  top: 30%;
  height: 60%;
}

/* LEX TALIONIS ------------------------------------------------ */
#lextalionis header {
  top: 5%;
  height: 14%;
}

#lextalionis h3 {
  width: 100%;
  left: 0%;
  top: 10%;
}

#lextalionis .skill-set {
  top: 60%;
  left: 0%;
  width: 100%;
}

#lextalionis .artist-bio {
  top: 19%;
  height: 74%;
}

/* EUSTACE / SINGER U -------------------------------------------- */
#singeru h3 {
  top: 10%;
}

#singeru .skill-set {
  top: 65%;
}

/* LANDSCAPE LAYOUT //////////////////////////////////////// */
@media only screen and (orientation: landscape) {

  /* LINKS ////////////////////////////////////////////// */
  .page-link {
    font-size: calc(var(--w)/50);
  }

  /* ARROW-LINKS------------------------------------------ */
  .vertical-arrow-link {
    width: 10%;
    font-size: calc(var(--w)/50);
    left: 45%;
  }

  .down-vertical-arrow-link {
    top: 94%;
  }

  /* HEADER ////////////////////////////////////////////// */
  /* SITE HEADER --------------------------------- */
  #site-header {
    border-bottom-width: calc(var(--w)/200);
    height: calc(var(--w)/7);
  }

  h1 {
    top: 25%;
    font-size: calc(var(--w)/20);
  }
  
  #site-header nav {
    font-size: calc(var(--w)/50);
  }

  /* CHAPTER HEADER ----------------------------------- */
  h2 {
    font-size: calc(var(--w)/11);
  }

  /* ARTISTS /////////////////////////////////////////////// */
  .artist-header {
    width: 50%;
    height: 80%;
  }
  
  .profile-pic {
    width: 100%;
    height: 65%;
  }
  
  h3, #rondalloway h3, #kamilahhaywood h3 {
    top: 70%;
    left: 0%;
    width: 100%;
    font-size: calc(var(--w)/20);
  }
  
  .skill-set, #rondalloway .skill-set, #kamilahhaywood .skill-set {
    left: 0%;
    width: 100%;
    font-size: calc(var(--w)/30);
    top: 85%;
  }
  
  .artist-bio {
    border: none;
    width: 55%;
    top: 5%;
    left: 45%;
    height: 90%;
    align-items: center;
    font-size: calc(var(--w)/50);
    line-height: 1.5;
  }

  /* RON DALLOWAY -------------------------------------------- */
  #rondalloway header {
    height: 80%;
  }
  #rondalloway .profile-pic {
    width: 80%;
    left: 10%;
  }
  #rondalloway h3 {
    top: 60%;
  }

  #rondalloway .skill-set {
    top: 75%;
  }

  #rondalloway .artist-bio {
    height: 100%;
    top: 0%;
  }

  /* KAMILAH HAYWOOD ----------------------------------------- */
  #kamilahhaywood img, #susanameza img {
    padding: 10%;
  }

  #kamilahhaywood h3 {
    top: 60%;
  }

  #kamilahhaywood .skill-set {
    top: 75%;
  }

  #kamilahhaywood-page2 .artist-bio, #susanameza-page2 .artist-bio {
    left: 0%;
  }

  #kamilahhaywood-page2 .page-link-row, #susanameza-page2 .page-link-row {
    align-self: flex-start;
  }

  #kamilahhaywood-page3 .ur, #susanameza-page3 .ur {
    background-image: none;
  }

  #kamilahhaywood-page3 .social-media-section,
  #susanameza-page3 .social-media-section {
    width: 40%;
    left: 55%;
  }

  #kamilahhaywood-page3 .social-media-sub-section a,
  #kamilahhaywood-page3 p,
  #susanameza-page3 .social-media-sub-section a,
  #susanameza-page3 p {
    font-size: calc(var(--w)/50);
  }

  /* SUSANA MEZA ----------------------------------- */
  #susanameza h3 {
    top: 60%;
  }

  #susanameza .skill-set {
    top: 75%;
    left: 30%;
  }


  /* CHAD POTVIN / LEX TALIONIS ----------------------------------- */
  #lextalionis header, #chadpotvin header {
    height: 20%;
    width: 100%;
    left: 0%;
    top: 10%;
  }

  #lextalionis .artist-bio, #chadpotvin .artist-bio {
    border-top: calc(var(--w)/300) solid rgb(255, 234, 204);
    border-bottom: calc(var(--w)/300) solid rgb(255, 234, 204);
    width: 100%;
    left: 0%;
    top: 30%;
    height: 60%;
  }

  #chadpotvin .artist-bio p {
    width: 70%;
  }

  /* EUSTACE / SINGERU -------------------------------------- */
  #singeru img {
    padding: 5%;
  }
  
  #singeru h3 {
    top: 65%;
  }

  #singeru .skill-set {
    top: 80%;
  }

}