#pic-background {
    background-image: url("./assets/images/call-for-artists.jpg");
    background-color: black;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 50%;
    filter: brightness(0.2);
    position: absolute;
    width: 100vw;
    height: 80vh;
    opacity: 0.7;
}

main {
    height: 80vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
}

h2 {
    height: 100%;
    width: 20vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1vh solid hsl(50, 100%, 90%);

    font-family: "Coolvetica-Regular", Arial, Helvetica, sans-serif;
    font-size: 4vw;
    font-size: clamp(4rem, 1.3333rem + 4.1667vw, 8rem);
}

h3 {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-size: clamp(1.3rem, 0.1667rem + 1.7708vw, 3rem);
    margin-bottom: 1vh;
}

#main-text {
    width: 80vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 0 5vw 0 1vw;

    font-size: 26px;
    font-size: clamp(1rem, 0.3333rem + 1.0417vw, 2rem);
}

p {
    line-height: 2.2ex;
    margin-bottom: 1vh;
}

#main-text ul {
    padding-left: 5vw; 
    list-style-type: circle;
}

#main-text li {
    margin-bottom: 0.75ex;
}

#main-text a {
    text-decoration: underline;
    padding-left: 1ex;
}

#email {
    color: white;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: clamp(1.1rem, 0.3667rem + 1.1458vw, 2.2rem);
}

@media screen and (max-width: 1024px) {
    nav {
        margin-top: 5%;
    }

    #pic-background {
        height: 160vh;
        background-size: cover;
        filter: brightness(0.2);
    }

    main {
        height: 160vh;
        flex-direction: column;
        justify-content: flex-start;
    }

    h2 {
        width: 100%;
        height: 25vh;

        justify-content: flex-start;
        padding-left: 9vw;
        box-sizing: border-box;
        border-bottom: 0.5vh solid hsl(50, 100%, 90%);
        border-right: none;

        font-size: clamp(2rem, 0.6364rem + 6.8182vw, 5rem);
    }

    h3 {
        font-size: clamp(1.3rem, 0.7091rem + 2.9545vw, 2.6rem);
        margin: 3vh 0;
    }

    #main-text {
        height: 135vh;
        font-size: clamp(0.7rem, 0.1091rem + 2.9545vw, 2rem);
    }

    p {
        margin-bottom: 2vh;
        line-height: 2.5ex;
    }

    #email {
        font-size: clamp(0.9rem, 0.3091rem + 2.9545vw, 2.2rem);
    }
}