/* FONTS //////////////////////////////////// */
@font-face {
  font-family: 'Coolvetica-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Coolvetica-Regular'), url('./assets/fonts/coolvetica.woff') format('woff');
}

header {
    height: 20vh;
    position: relative;
}

header h1 {
    position: relative;
    top: -5%;
    font-family: "Coolvetica-Regular";
}

nav {
    width: 100%;
    font-family: "Roboto Condensed";
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    box-sizing: border-box;
    border: 0.5vh solid hsla(35, 100%, 90%, 0);
    padding: 10px 10px 5px 10px;
    border-radius: 50px 50px 0px 0px;
    transition: border 2s, font-size 2s;

    font-size: clamp(0.7rem, 0.5143rem + 0.9286vw, 2rem);
}

nav a:hover, nav a:focus {
    font-size: clamp(1.6rem, 1.1909rem + 2.0455vw, 2.5rem);
}

@media screen and (max-width: 1024px) {
    header h1 {
      top: 2%;
    }
    
    nav {
        margin-top: 5%;
    }

    nav a {
        font-size: clamp(0.7rem, 0.1091rem + 2.9545vw, 2rem);
    }
}
