main {
    height: 80vh;
    position: relative;
}

#pic-background {
    background-image: url("./assets/images/project-statement.jpg");
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    filter: brightness(0.4);
    position: absolute;
    width: 100vw;
    height: 80vh;
    opacity: 0.8;
}

h2 {
    font-family: "Roboto Condensed";
    position: absolute;
    top: 8vh;
    left: 15vw;
    font-size: 3vw;
    font-size: clamp(1.3rem, 0.5600rem + 3.7000vw, 5rem);
}

p {
    position: absolute;
    top: 20vh;
    left: 40vw;

    font-size: 1vw;
    font-size: clamp(1rem, 0.3333rem + 1.0417vw, 2rem);
    width: 50vw;
    line-height: 2.8ex;

    color: hsl(35, 100%, 90%);
}

i {
  font-style: italic;
}

@media screen and (max-width: 1024px) {
    #pic-background {
        background-size: 250%;
        height: 100vh;
    }

    main {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2 {
        text-align: left;
        padding-left: 3vw;
        position: initial;
        font-size: clamp(1.5rem, 0.8182rem + 3.4091vw, 3rem);
        margin-top: 3vh;
    }

    p {
        position: initial;
        width: 100%;
        margin-top: 5vh;
        padding: 0 10vw 0 5vw;
        box-sizing: border-box;
        font-size: clamp(0.8rem, 0.2545rem + 2.7273vw, 2rem);
    }
}