/* FONTS /////////////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'Coolvetica-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Coolvetica-Regular'), url('./assets/fonts/coolvetica.woff') format('woff');
}

/* GENERAL ///////////////////////////////////////////////////////////////*/

html {
    font-size: 16px;
    font-family: Palatino, "Palatino Linotype", serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */  
    color: hsl(35, 100%, 90%);
    scroll-behavior: smooth;
    min-height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

:root {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Chrome and Safari */
::-webkit-scrollbar {
display: none;
}

/* BACKGROUND */
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        hsl(120, 30%, 70%),
        hsl(45, 80%, 50%),
        hsl(50, 100%, 80%)
    );
    z-index: -1;
}

/* Typography /////////////////////*/
h1 {
    font-family: "Coolvetica-Regular", sans-serif;
}

/* HEADER DESIGN */
header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 5vw;
    font-size: clamp(4.8rem, 2.6667rem + 3.3333vw, 8rem);
    height: 15vh;
    box-sizing: border-box;
    border-bottom: 5px solid hsl(35, 100%, 90%);
}

/* MOBILE VERSION ////////////////////////////// */
@media screen and (max-width: 1024px) {
    header {
        font-size: clamp(1.4rem, -0.1455rem + 7.7273vw, 4.8rem);
    }
}