/* FONTS ///////////////////////////////// */
html {
  font-family: "Comfortaa", cursive;
  font-size: 4.3vw;
  /* font-size: 20px; */
}

header {
  height: 34vw
}

@media only screen and (min-width: 450px) {
  html {
    font-size: 20px;
  }
  header {
    height: 150px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

/* ICONS ////////////////////////////// */
.inline-icon {
  display: inline;
  width: 1rem;
}

/* SITE HEADER ///////////////////////////// */
header {
  text-align: center;
  padding-right: 3rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.3rem solid black;
  /* height: 150px; */
}

h1 {
  flex-shrink: 0;
}

.menu-button svg {
  width: 2rem;
}

nav {
  display: none;
}

@media only screen and (min-width: 1045px) {
  nav {
    display: block;
  }

  header .menu-button {
    display: none;
  }
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

